$paleGrey: #d6d6d6;
$paleBlue: #dfeef3;
$darkerGrey: #747474;
$nearBlack: #212221;
$offWhite: #fbfbf9;

// CSS Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Styles
body {
	background: $paleGrey;
	overflow: hidden;
}
#app-wrapper {
	font-family: 'poppins', helvetica, arial, sans-serif;
	padding: 5vh 5vw 0 5vw;
	height: auto;
	margin: 0px;
}

#subtitle {
	font-size: 1rem;
	text-transform: uppercase;
	color: $nearBlack;
	padding-bottom: 1.25rem;
	a {
		text-decoration: none;
		&:visited {
			color: $paleBlue;
		}
			&:hover {
				border-bottom: solid 5px #fff;
				cursor: pointer;
						}
		}
	
}

#app-title {
	font-size: 5rem;
	margin: auto;
	padding-top: 1.25rem;
	border-top: solid 8px $nearBlack;
	color: $nearBlack;
}

#wrapper {
	max-height: 10%;
	margin: 100px 0 0 0;
	width: 100%;
		display: block;
		display: flex;
		flex-grow: 0;
	justify-content: space-between;
	align-content: center;

}

#question-number-background {
	font-size: 440px;
	line-height: 400px;
	font-weight: bold;
	margin: 0;
	width: 50%;
	color: $darkerGrey;
	flex: 0 0 auto;
}

.question-answer-wrapper {
	color: $darkerGrey;
	width: 50%;
	flex-grow: 0;
	padding-top: 1.25rem;
	font-family: 'roboto mono', helvetica, arial, sans-serif;
}

#btn-wrapper{
	display: flex;
}

.btn {
	color: $offWhite;
	background: $nearBlack;
	padding: 0.5rem 1rem;
	font-family: 'poppins', helvetica, arial, sans-serif;
	border: none;
	cursor: pointer;
	margin-top: 0.875rem;
	transition: 0.1s;
	font-weight: 700;
	&:hover {
		background: $darkerGrey;
	}
}

#question {
	margin: 0;
	padding: 0rem 0rem 0.675rem 0rem;
	font-size: 1.25rem;
	min-height: 40px;
	width: auto;
}
#answers {
		ul {
			list-style: none;
			padding: 0;
			margin-top: 1.25rem;
			li {
				margin: 0;
				padding: 0.75rem 0rem;
				font-weight: 300;
				font-size: 0.875rem;
				button {
					font-family: 'roboto mono', helvetica, arial, sans-serif;
					background: none;
					border: none;
					border-bottom: solid 5px $paleGrey;
					color: $darkerGrey;
					outline: none;
					padding: 0;
						&:hover {
							border-bottom: solid 5px $paleBlue;
							cursor: pointer;
						}
					}
			}
		}
}
.no-show {
	display: none;
}
.selected {
	border-bottom: solid 5px $paleBlue !important;
	transition: 0.1s;
}
.hidden {
	visibility: hidden !important;
}

.score {
	border-bottom: solid 5px $paleBlue !important;
	font-size: 1.75rem;
}
.score:hover {
	background:none!important;
	cursor:normal!important;
	border-bottom: solid 5px $paleBlue !important;
				}
  /* for the after stage of the question */

  .after {
    opacity:0 !important;
  }
  /* for the after stage of the answers.*/

  .executed {
    opacity:1;
    right: 0;
    -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
  }
  /* for the before stage of the answers; should slide right when presented and left when removed.  */

  .change {
    opacity:0;
    right:600;
    -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }

input {
	display: inline-block;
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    transition: all 0.2s;
    background: transparent;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}